body{
    background-color: #E5BEED;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Sometype Mono', monospace;
}

nav {
  display: flex;
  padding: 1rem;
  width: 100%;
  justify-content: space-between;
  color: black;
  background-color: #f0afe3;
}

.logo h1{
  font-size: 2rem;
  padding-left: 10px;
}

.nav-links{
  list-style: none;
  display: flex;
  padding-right: 15px;
  font-size: 1.2rem; 
  padding-right: 15px;
  gap: 15px;
}

.nav-links li {
  margin-right: 10px;
}

.nav-links a, .logo a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-links a:hover{
  text-decoration: underline;
}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.home h1 { 
  font-size: 35px;
}
.main p{
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.about-main {
  width: 80%;
}

.content{
  text-align: center;
}

img{
width: 50%;
align-content: center;
padding: 5%;
border-radius: 50%;
}

.img-container{
  padding-left: 25%;
}

h2{
  font-size: 2.5rem;
  text-align: center;
}

.work-header {
  text-align: center;
}

.work-main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.work-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-align: center;
}

.contact-text a {
  text-decoration: none;
  color: black;
  font-style: oblique;
  border-style: dashed;
  border-width: .75px;
  border-radius: 90%;
  padding: 2.3%;
  font-weight: bold;
}

.contact-text a:hover{
  text-decoration: underline;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #DBCBD8; 
  border-radius: 5px; 
  box-sizing: border-box; 
  margin-top: 5px; 
  margin-bottom: 5px; 
  resize: vertical; 
}

input[type=submit] {
  background-color: #619ba3;
  color: #593959;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

input[type=submit]:hover {
  background-color: #5d7f9a;
}

.contact-container {
  border-radius: 5px;
  padding: 25px;
}

.socials {
  text-align: center;
}

.fa {
    padding: 1.5rem;
    font-size: 1rem;
    width: 1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
  }

.fa:hover {
    opacity: 0.7;
  }

  .fa-twitter {
    background: #1DA1F2;
    color: white;
  }

  .fa-linkedin {
    background: #0077B5;
    color: white;
  }

  .fa-instagram {
    background: #405DE6;
    color: white;
  }

  .fa-github {
    background: #c9510c;
    color: white;
  }

  footer{
    text-align: center;
    background-color: #f0afe3;
    padding: 10px;
    margin-top: 20px;
    border-radius: 50%;
  }